@font-face {
    font-family: 'Squatina';
    src: url('fonts/Squatina-Regular.eot');
    src: url('fonts/Squatina-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Squatina-Regular.woff2') format('woff2'),
        url('fonts/Squatina-Regular.woff') format('woff'),
        url('fonts/Squatina-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



:root
{

	--loader-width: min(40vw, 40vh);
  --loader-size: min(10vw, 10vh);


	--backgroundColor: #967259;
	--textColor: #ece0d1;

	--shadowMotionDelta: .2%;

	--headerHeight: max(40px, 4vh, 4vw);

	--photoButtonsWidth: max(min(460px,80vw),280px);
	--photoButtonsHeight: calc(var(--photoButtonsWidth) * .35);

	--frameHeight: calc(.9 * (100vh - 1.8 * var(--headerHeight) - 1.2 * var(--photoButtonsHeight)));


	font-family: Squatina;
	color: white;
	text-transform: uppercase;
	text-align: center;

	background-color: black;
}


* {
	user-select: none;
	margin: 0;
	padding: 0;

	transition: all .3s ease-out;

}

.resized,
.resized *
{
	transition: all 0s linear !important;
}



body
{
	overflow: hidden !important;

	font-size: max(30px, 3vh, 3vw);

	transform-origin: 50vw 50vh !important;
}

	body.deg90 { transform: rotate(90deg); }
	body.deg180 { transform: rotate(180deg); }
	body.deg270 { transform: rotate(-90deg); }




header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: var(--headerHeight);

	text-transform: uppercase;

	z-index: 10;
}

	header h1
	{
		background-color: #FFFF0090;
		color: black;
		width: min(30vw, 30vh, 180px);
		height: var(--headerHeight);
		font-size: max(30px, 3vh, 3vw);

		margin-left: auto;
		margin-right: auto;

		box-shadow: 0px max(10px, 1vh, 1vw) 0px 0px #00000095;
	}


main
{
	position: fixed;
	top: max(50px, 5vh, 5vw);;
	left: 0;
	width: 100vw;
	height: calc(100vh - max(50px, 5vh, 5vw));
}

	main .screen
	{
		position: fixed;
		top: max(50px, 5vh, 5vw);;
		left: 0;
		width: 100vw;
		height: calc(100vh - max(50px, 5vh, 5vw));

	}


input
{
	border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;

  width: max(min(80vh,80vw), 180px);

  box-shadow: 0px max(10px, 1vh, 1vw) 0px 0px black;

  text-align: center;
  text-transform: uppercase;
  font-family: Squatina;
}

input:focus
{
	outline: none;

	font-size: max(30px, 3vh, 3vw);

	transform: scale(1.04);
}

input::placeholder {
  color: grey;
  font-size: max(30px, 3vh, 3vw);
}








/* RESET BUTTONS */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* COMMON */
button, input[type="submit"], input[type="reset"] {
	text-transform: uppercase;
}

button:disabled {
	opacity: .8;
	filter: grayscale(100%) invert(100%);
	cursor: initial;
}


.bottom-hidden
{
	display: none !important;
}

.bottom-displayed
{
	display: block;
	transform: translateY(110vH);
}

.bottom-current
{
	transform: translateY(0vH);
}

.bottom-entranceAnimation {
	transform: translateY(110vH);
}


.bottom-removalAnimation {
	transform: translateY(110vH);
}




.actionButtons
{
	width: 92vw;
	height: max(34px, 14vh);

	margin-left: auto;
	margin-right: auto;

	display: block;
}


.nextStep
{
	background-color: green;
	color: white;
	font-size: max(34px, 14vh);

	width: max(34px, 14vw);
	height: max(34px, 14vh);

	margin-left: auto;
	margin-right: auto;

	display: inline-block;
}

	.nextStep:hover
	{
		transform: scale(.9);
		opacity: .9;
	}






.photoButtons
{
	background-color: #00000060;

	position: fixed;
	bottom: 0;
	left: calc(50vw - var(--photoButtonsWidth) / 2);
	width: var(--photoButtonsWidth);
	height: var(--photoButtonsHeight);

	padding-top: calc(var(--photoButtonsWidth) / 16);;
	margin-left: auto;
	margin-right: auto;

	display: block;


	text-transform: uppercase;

	overflow: hidden;
}

	#restartbutton,
	#endbutton, .nextStep
	{
		display: none;
	}

	#modeSelection
	{
		position: fixed;
		bottom: calc(2.15 * var(--photoButtonsHeight) / 3);
		left: calc(50vw - var(--photoButtonsWidth) / 2);

		width: calc(var(--photoButtonsWidth) * 14 / 16);
		height: calc(.8 * var(--photoButtonsHeight) / 3);

		font-size: 20px;

		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-between;

		margin-left: calc(var(--photoButtonsWidth) / 16);
		margin-right: calc(var(--photoButtonsWidth) / 16);
	}

		#mNormalbutton,
		#mClairbutton,
		#mSombrebutton
		{
			background-color: #00000075;
			color: white;
			width: calc(var(--photoButtonsWidth) * 14 / 16 / 3 - max(2vw, 6px));
		}


	#photoshotButtons,
	#photoValidationButtons
	{
		position: fixed;
		bottom: 0;
		left: calc(50vw - var(--photoButtonsWidth) / 2);

		width: calc(var(--photoButtonsWidth) * 14 / 16);
		height: calc(1.8 * var(--photoButtonsHeight) / 3);

		font-size: 22px;

		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-between;

		margin-left: calc(var(--photoButtonsWidth) / 16);
		margin-right: calc(var(--photoButtonsWidth) / 16);


	}

	#startbutton,
	#unreadablePhotoButton
	{
		width: calc(var(--photoButtonsWidth) * 14 / 16 - 1.65 * var(--photoButtonsHeight) / 3 / 2 - .12 * var(--photoButtonsWidth));
		height: calc(1.65 * var(--photoButtonsHeight) / 3);
	}

		#startbutton { background-color: #FFFF0090; border: #FFFFFF70 5px solid; }
		#unreadablePhotoButton { background-color: #FF000095; }

	#switchbutton,
	#readablePhotoButton
	{
		width: calc(1.65 * var(--photoButtonsHeight) / 3);
		height: calc(1.65 * var(--photoButtonsHeight) / 3);
	}

		#switchbutton { background-color: #00000075; }
		#readablePhotoButton { background-color: #00FF0095; }









.screen
{
	transition: all .7s ease-out;
	display: none;
}

.screen.displayed
{
	display: block;
	transform: translateX(120vw);
}

.screen.current
{
	transform: translateX(0vw);
}

.screen.removalAnimation {
	transform: translateX(-120vw);
}





#screen0
{
}







#background
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	overflow: hidden;

	z-index: -1;

}


#videoBlur {
				position: absolute;
	    top: -9999px;
	    bottom: -9999px;
	    left: -9999px;
	    right: -9999px;
	    margin: auto;

	    min-width: 100vw;


	filter: blur(10px);
	z-index: -2;
}

	#videoBlur.hidden { display:none !important; }


#video {
	width: 100vw;
	max-height: 120vh;
	overflow: hidden;
	z-index: -1;
}

	#video.portrait {
		position: absolute;
	  top: -9999px;
	  bottom: -9999px;
	  left: -9999px;
	  right: -9999px;
	  margin: auto;
		object-fit: contain;
		width: auto;
		min-height: 100vh;
	}

#video.clair
{ filter: contrast(200%) brightness(80%); }

#video.normal
{  }

#video.sombre
{ filter: brightness(300%); }

#videoBlur.clair
{ filter: blur(5px) contrast(200%) brightness(80%); }

#videoBlur.normal
{ filter: blur(5px); }

#videoBlur.sombre
{ filter: blur(5px) brightness(300%); }





#canvas, #canvasOriginal
{ display: none; }


#photo
{
	display: none;

	position: fixed;
	top: calc(var(--headerHeight) * 1.8);
	left: calc(50vw - (9 * var(--frameHeight) / 16) / 2);

	height: calc(var(--frameHeight) - 2 * max(1vh, 1vw, 10px));
	width: calc(9 * var(--frameHeight) / 16 - 2 * max(1vh, 1vw, 10px));

	border: max(1vh, 1vw, 10px) white solid;

	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#photo.displayed
{
	display: inline-block;
}


#frame
{
	display: none;
	position: fixed;
	top: calc(var(--headerHeight) * 1.8);
	left: calc(50vw - (9 * var(--frameHeight) / 16) / 2);

	height: calc(var(--frameHeight) - 6px);
	width: calc(9 * var(--frameHeight) / 16 - 6px);


/*
	margin-top: calc(max(40px, 4vh, 4vw) * 1.6);
	width: auto;
	height: auto;
	max-width: calc(64vh * 9 / 16)!important;
	max-height: 64vh !important;

*/

	border: 3px #FFFF0090 solid;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

	z-index: 10;

	color: #FFFF0090;
	font-size: max(16px, 3.5vh);
	text-align: center;
	text-shadow: -1px -1px 3px #00000090;



	/*position: relative;*/
}

#frame.displayed
{
	display: block;
}

#frame div
{
	/*
	max-width: calc(.8 * 9 * var(--frameHeight) / 16)
	padding: calc(var(--frameHeight) * .1);
	padding-top: calc(var(--frameHeight) * .1);
	inline-size: auto;writing-mode: horizontal-tb;
	*/
	writing-mode: vertical-lr;

	display: inline-block;
	height: 100%;
	margin-right: 80%;


}